body {
  background-color: bisque;
  font-family: 'Bai Janjuree', sans-serif;
} 

footer {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2em;
}

footer p {
  text-align: center;
  font-size: 0.6rem;
  margin-top: 0.5rem;
}
