body {
  background-color:bisque;
font-family: Bai Janjuree;
} 

Footer {
  background-color: black;
  color: white;
  position: fixed;
  botton:0;
  width: 100%;
  heigher: 2 ten;

  Footer P {
  text-align:center;
  font-size:0,6mm;
  margin-tap:0,5mm;
}
